section.filters {
    background-color: white;
    color: black;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.search-button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.search-button:hover {
    opacity: 0.9;
}