.filters {
    background-color: white;
    color: black;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    padding: 10px;
    border-right: 1px solid #DDDDDD;
}

.locations:first-child {
    border-right: none;
}

.location h3, .amenities h3 {
    font-weight: 600;
}

.loactions h2 {
    font-size: 16px;
    margin: 5px 0;
}

.location ul, .amenities ul {
    padding: 0;
    margin: 0;
}

.location li, .amenities li {
    cursor: pointer;

}
h4 {
    font-weight: 400;
    font-size: 14px;
}

.search-button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.search-button:hover {
    opacity: 0.9;
}

.popover {
    display: none;
    position: relative;
    list-style: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    z-index: 1;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}
.filters {
    position: relative;
}

.popover h2 {
    font-size: 16px;
}